In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup    
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [2]:
data_wuzzuf=pd.read_csv('E:/ffinaal/data_science_dataset_wuzzuf.csv')

In [3]:
data_wuzzuf.head()

,id,city_name,displayed_job_title,job_category_1,job_category_2,job_category_3,job_industry_1,job_industry_2,job_industry_3,salary_min,salary_max,num_vacancies,career_level,experience_years,post_date,views,description,job_requirements
0,5d4b2419,Ciro,Sales & Marketing Agent,Sales/Retail/Business Development,Marketing,Select,Telecommunications Services,Select,Select,2000,3500,8,Entry Level,0-1,2014-01-01 06:01:41,2602,<p><strong>Qualifications</strong>:<br /><br /...,NaN
1,bd9ecd07,Cairo,German Training Coordinator,Customer Service/Support,Administration,Human Resources,Translation and Localization,Business Services - Other,Education,1000,5000,8,Entry Level,0-2,2014-01-01 20:01:18,2213,<p>&bull;Placing jobs' ads on various websites...,NaN
2,3096c0f2,Cairo,Junior Software Developer,IT/Software Development,Select,Select,Computer Software,Select,Select,2000,2500,1,Entry Level,2,2014-01-02 11:01:03,2940,"<span style=""text-decoration: underline;""><str...",NaN
3,a99f9148,Cairo,Application Support Engineer,IT/Software Development,Select,Select,Telecommunications Services,Select,Select,2000,3500,1,Entry Level,1-2,2014-01-02 12:01:23,2042,"<strong><span style=""text-decoration: underlin...",NaN
4,37fb04eb,6 th of October city,e-payments System Administrator,IT/Software Development,Select,Select,Computer Software,Select,Select,3000,5000,1,Experienced (Non-Manager),1-3,2014-01-02 15:01:17,2335,<p>1-Configure and Archive Data for the banks ...,NaN

In [4]:
data_wuzzuf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21850 entries, 0 to 21849
Data columns (total 18 columns):
id                     21850 non-null object
city_name              21850 non-null object
displayed_job_title    21850 non-null object
job_category_1         21850 non-null object
job_category_2         21850 non-null object
job_category_3         21850 non-null object
job_industry_1         21850 non-null object
job_industry_2         21850 non-null object
job_industry_3         21850 non-null object
salary_min             21850 non-null int64
salary_max             21850 non-null int64
num_vacancies          21850 non-null int64
career_level           21850 non-null object
experience_years       21850 non-null object
post_date              21850 non-null object
views                  21850 non-null int64
description            21576 non-null object
job_requirements       19217 non-null object
dtypes: int64(4), object(14)
memory usage: 3.0+ MB

In [5]:
data_wuzzuf['description'] = data_wuzzuf['description'].astype(str)

In [6]:
def review_to_words( raw_review ):
    # Function to convert a raw review to a string of words
    # The input is a single string (a raw movie review), and 
    # the output is a single string (a preprocessed movie review)
    #
    # 1. Remove HTML
    review_text = BeautifulSoup(raw_review).get_text() 
    #
    # 2. Remove non-letters        
    letters_only = re.sub("[^a-zA-Z]", " ", review_text) 
    #
    # 3. Convert to lower case, split into individual words
    words = letters_only.lower().split()                             
    #
    # 4. In Python, searching a set is much faster than searching
    #   a list, so convert the stop words to a set
    stops = set(stopwords.words("english"))                  
    # 
    # 5. Remove stop words
    meaningful_words = [w for w in words if not w in stops]   
    #
    # 6. Join the words back into one string separated by space, 
    # and return the result.
    
    return( " ".join( words))

In [7]:
job_desc = []
for i in range(0, 21850):
    job_desc.append(review_to_words(data_wuzzuf['description'][i]))

C:\anaconda\lib\site-packages\bs4\__init__.py:182: UserWarning: "." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  '"%s" looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.' % markup)

In [8]:
job_desc[0]

u'qualifications graduates and undergraduates are encouraged to apply telesales experience months at least proficiency in using ms office application word excel strong verbal communication and negotiation skills demonstrates a positive enthusiastic friendly and professional attitude english skills fluent job details and benefits available start date in weeks working hours hours location maadi cairo job package basic salary egp commission when target is acheived'

In [9]:
data_wuzzuf['job_requirements']=data_wuzzuf['job_requirements'].astype(str)

In [10]:
job_req = []
for i in range(0, 21850):
    job_req.append(review_to_words(data_wuzzuf['job_requirements'][i]))

In [11]:
job_req[7400]

u'technical skills excellent knowledge in vb or c excellent knowledge in object oriented design good knowledge of software development process good knowledge in microsoft sql and relational database groovy knowledge is a plus proficient in several development environments web services asp j ee and net language proficiency in english essential written and spoken second language much appreciated personal skills excellent team spirit able to work under pressure as part of delivery team date commitment international pro active and motivated team member able to work on multi site projects comfortable with traveling and dealing with customers'

In [12]:
data_wuzzuf['experience_years']=data_wuzzuf['experience_years'].astype(str)

In [13]:
#clean experience_years
def review_to_words(raw_review ):
    review_text = BeautifulSoup(raw_review).get_text() 
    #
    # 2. Remove non-letters        
    letters_only = re.sub("[^-1-9]+", " ", review_text) 
    return( "".join(letters_only))

In [14]:
job_exp = []
for i in range(0, 21850):
    job_exp.append(review_to_words(data_wuzzuf["experience_years"][i]))

In [15]:
job_desc[0]

u'qualifications graduates and undergraduates are encouraged to apply telesales experience months at least proficiency in using ms office application word excel strong verbal communication and negotiation skills demonstrates a positive enthusiastic friendly and professional attitude english skills fluent job details and benefits available start date in weeks working hours hours location maadi cairo job package basic salary egp commission when target is acheived'

In [16]:
job_req[7400]

u'technical skills excellent knowledge in vb or c excellent knowledge in object oriented design good knowledge of software development process good knowledge in microsoft sql and relational database groovy knowledge is a plus proficient in several development environments web services asp j ee and net language proficiency in english essential written and spoken second language much appreciated personal skills excellent team spirit able to work under pressure as part of delivery team date commitment international pro active and motivated team member able to work on multi site projects comfortable with traveling and dealing with customers'

In [17]:
job_exp[106]

u'1 2 '

In [18]:
#delete old coumumns
data_wuzzuf.drop(['description','job_requirements','experience_years'],axis=1,inplace=True)

In [19]:
#create new coulmn in w data frame

data_wuzzuf['job_desc']=job_desc
data_wuzzuf['job_req']=job_req
data_wuzzuf['job_exp']=job_exp

In [20]:
data_wuzzuf.head()

,id,city_name,displayed_job_title,job_category_1,job_category_2,job_category_3,job_industry_1,job_industry_2,job_industry_3,salary_min,salary_max,num_vacancies,career_level,post_date,views,job_desc,job_req,job_exp
0,5d4b2419,Ciro,Sales & Marketing Agent,Sales/Retail/Business Development,Marketing,Select,Telecommunications Services,Select,Select,2000,3500,8,Entry Level,2014-01-01 06:01:41,2602,qualifications graduates and undergraduates ar...,nan,-1
1,bd9ecd07,Cairo,German Training Coordinator,Customer Service/Support,Administration,Human Resources,Translation and Localization,Business Services - Other,Education,1000,5000,8,Entry Level,2014-01-01 20:01:18,2213,placing jobs ads on various websites for the p...,nan,-2
2,3096c0f2,Cairo,Junior Software Developer,IT/Software Development,Select,Select,Computer Software,Select,Select,2000,2500,1,Entry Level,2014-01-02 11:01:03,2940,job summary software developers are the brains...,nan,2
3,a99f9148,Cairo,Application Support Engineer,IT/Software Development,Select,Select,Telecommunications Services,Select,Select,2000,3500,1,Entry Level,2014-01-02 12:01:23,2042,position experience and skills required one or...,nan,1-2
4,37fb04eb,6 th of October city,e-payments System Administrator,IT/Software Development,Select,Select,Computer Software,Select,Select,3000,5000,1,Experienced (Non-Manager),2014-01-02 15:01:17,2335,configure and archive data for the banks and g...,nan,1-3

In [21]:
data_wuzzuf['city_name'] = data_wuzzuf['city_name'].astype(str)

In [22]:
#export it to csv file

data_wuzzuf.to_csv('E:/ffinaal/clean1.csv', sep='\t')

In [23]:
data_wuzzuf['city_name'].value_counts()

Cairo                                                      14988
Giza                                                        3886
Alexandria                                                   989
6th of October                                                90
Mansoura                                                      89
New Cairo                                                     85
10th of Ramadan                                               81
Any                                                           60
Giza / Cairo                                                  45
Ismailia                                                      39
10th of ramadan city                                          36
Cairo / Giza                                                  36
6th of October City                                           35
Tanta                                                         32
nasr city                                                     32
menoufia                                                      31
6 October                                                     30
القاهرة                                                       29
Suez                                                          26
10th of Ramdan City                                           26
6 of October                                                  24
Hurghada                                                      22
Assuit                                                        20
Obour city                                                    20
maadi                                                         20
cairo, giza                                                   19
all                                                           19
Nasr City, Cairo                                              19
Ismalia                                                       18
Cairo/ Giza                                                   16
                                                           ...
Sharkeya                                                       1
sharm elsheikh                                                 1
15th of May                                                    1
Al Jizah                                                       1
5th Settelment                                                 1
East Owinat                                                    1
ابها                                                           1
Cairo , Canal and Upper Egypt governorates                     1
maadi,cairo                                                    1
المنصورة                                                       1
Upper Egypt & Red Sea                                          1
elharam                                                        1
Cairo, Mansoura                                                1
monofya                                                        1
Al Behera                                                      1
Giaz                                                           1
Alexandria- Port Saeid- Ismalia -Assuit -Menia- Red Sea        1
ِAlexandria                                                    1
Marsa Matrouh                                                  1
Dokki - Mohandseen                                             1
El Monofia                                                     1
Cairo,Port Said                                                1
من الدقهليه - او القاهرة                                       1
Giza,Cairo ,Alex                                               1
Ein sokhna                                                     1
EL Minia                                                       1
Wadi El Notron                                                 1
Giza - Cairo                                                   1
مدينه نصر                                                      1
sharm el shaik                                                 1
Name: city_name, dtype: int64

In [24]:
"""
in city column there is bad insertion so 
 import csv file to  excel file to make fuzzy wuzzy funcation in column city_name
first rearrnage columns with excel 2016
seconde  copy coilumn city name to another excell file then make fuzzy wuzzy funcation that 
compare the city column with real city column and get similarty ratoi between tow text 
that have no spelling mistakes becouse city columns have at lest 400 mistakes
i made fuzzy wuzzy   funcation in next sheet in excel file 
also make some find and repalce with excel to solve some mistakes insertion 
then import here again for analysis

"""

'\nin city column there is bad insertion so \n import csv file to  excel file to make fuzzy wuzzy funcation in column city_name\nfirst rearrnage columns with excel 2016\nseconde  copy coilumn city name to another excell file then make fuzzy wuzzy funcation that \ncompare the city column with real city column and get similarty ratoi between tow text \nthat have no spelling mistakes becouse city columns have at lest 400 mistakes\ni made fuzzy wuzzy   funcation in next sheet in excel file \nalso make some find and repalce with excel to solve some mistakes insertion \nthen import here again for analysis\n\n'

In [25]:
# save new clean data to new file for visualization in tableau
#now we make some   analysis to all  data

In [26]:
data_wuzzuf_clean=pd.read_excel('E:/ffinaal/final.xlsx')

In [27]:
# save new clean data to new file for visualization in tableau
#now we make some   analysis to all  data

In [28]:
data_wuzzuf_clean.head()

,id,city,displayed_job_title,job_category_1,job_category_2,job_category_3,job_industry_1,job_industry_2,job_industry_3,salary_min,salary_max,num_vacancies,career_level,post_date,views,job_desc,job_req,job_exp
0,5d4b2419,Cairo,Sales & Marketing Agent,Sales/Retail/Business Development,Marketing,Select,Telecommunications Services,Select,Select,2000,3500,8,Entry Level,2014-01-01 06:01:41,2602,qualifications graduates and undergraduates ar...,NaN,-1
1,bd9ecd07,Cairo,German Training Coordinator,Customer Service/Support,Administration,Human Resources,Translation and Localization,Business Services - Other,Education,1000,5000,8,Entry Level,2014-01-01 20:01:18,2213,placing jobs ads on various websites for the p...,NaN,-2
2,3096c0f2,Cairo,Junior Software Developer,IT/Software Development,Select,Select,Computer Software,Select,Select,2000,2500,1,Entry Level,2014-01-02 11:01:03,2940,job summary software developers are the brains...,NaN,1900-01-02 00:00:00
3,a99f9148,Cairo,Application Support Engineer,IT/Software Development,Select,Select,Telecommunications Services,Select,Select,2000,3500,1,Entry Level,2014-01-02 12:01:23,2042,position experience and skills required one or...,NaN,2017-02-01 00:00:00
4,37fb04eb,6 of October City,e-payments System Administrator,IT/Software Development,Select,Select,Computer Software,Select,Select,3000,5000,1,Experienced (Non-Manager),2014-01-02 15:01:17,2335,configure and archive data for the banks and g...,NaN,2017-03-01 00:00:00

In [29]:
"""
in tablue we will do some analysis for all data but gere we will do some anyliese to job_category_1
so we can understand the relation between variables eche other with every job category alone

"""

'\nin tablue we will do some analysis for all data but gere we will do some anyliese to job_category_1\nso we can understand the relation between variables eche other with every job category alone\n\n'

In [30]:
data_wuzzuf_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21850 entries, 0 to 21849
Data columns (total 18 columns):
id                     21850 non-null object
city                   21850 non-null object
displayed_job_title    21850 non-null object
job_category_1         21850 non-null object
job_category_2         21850 non-null object
job_category_3         21850 non-null object
job_industry_1         21850 non-null object
job_industry_2         21850 non-null object
job_industry_3         21850 non-null object
salary_min             21850 non-null int64
salary_max             21850 non-null int64
num_vacancies          21850 non-null int64
career_level           21850 non-null object
post_date              21850 non-null datetime64[ns]
views                  21850 non-null int64
job_desc               21214 non-null object
job_req                18946 non-null object
job_exp                21850 non-null object
dtypes: datetime64[ns](1), int64(4), object(13)
memory usage: 3.0+ MB

In [31]:
data_wuzzuf_clean.describe()

          salary_min      salary_max  num_vacancies         views
count   21850.000000    21850.000000   21850.000000  21850.000000
mean     3333.283982     5476.040412       5.856934   1376.874737
std      5293.894787    10783.029504      16.633904   1065.109847
min         0.000000        0.000000       1.000000      0.000000
25%      1500.000000     2500.000000       1.000000    797.000000
50%      2500.000000     4000.000000       1.000000   1230.000000
75%      3500.000000     6000.000000       3.000000   1791.000000
max    250000.000000  1000000.000000     100.000000  37568.000000

In [32]:
"""
describe by job category 

"""

'\ndescribe by job category \n\n'

In [33]:
job_category=data_wuzzuf_clean.groupby(['job_category_1']).mean()

In [34]:
type(job_category)

pandas.core.frame.DataFrame

In [35]:
job_category.sort_values('views',ascending=True)

,salary_min,salary_max,num_vacancies,views
job_category_1,,,,
Sports and Leisure,1490.818182,2818.181818,4.545455,992.727273
Business,4958.064516,7527.419355,1.532258,1103.161290
Sales/Retail/Business Development,2863.176677,4876.769269,6.504004,1158.963964
Marketing,3034.761004,4974.647876,2.359073,1162.226255
Food Services/Hospitality,2759.433962,23432.075472,2.452830,1180.018868
Fashion,2963.636364,4845.454545,4.818182,1205.636364
Creative/Design,2509.948014,4349.719626,1.912967,1214.695093
IT/Software Development,4145.127560,6613.300937,2.319507,1229.106040
Media/Journalism/Publishing,3285.937500,5061.607143,1.821429,1277.714286
Pharmaceutical,3610.280374,5357.476636,2.915888,1297.429907
Biotech/R&D/Science,2590.566038,4016.820755,7.216981,1341.877358
Research,3008.352941,4654.352941,2.552941,1362.376471
Accounting/Finance/Insurance,2696.839286,4984.732143,2.321429,1365.250000
Administration,2243.906318,3963.433551,2.206972,1371.004357
Project/Program Management,4767.257463,8506.343284,2.335821,1383.190299
Tourism/Travel,1870.280899,3138.202247,3.505618,1411.460674
Education/Training,2804.772321,9143.714286,5.339286,1440.245536
Medical,2858.396947,4256.793893,3.938931,1440.961832
Management,7661.571429,10954.500000,2.542857,1441.028571
Installation/Maintenance/Repair,2689.599303,4123.780488,2.752613,1484.930314
Legal,3500.000000,6250.000000,1.750000,1514.500000
Engineering,3929.150661,6587.526579,2.628781,1565.311601
Building Construction/Skilled Trades,5786.619718,8713.380282,1.943662,1572.070423
Editorial/Writing,2531.419214,4049.443231,2.965066,1644.674672
Customer Service/Support,2168.708262,3062.079534,24.728145,1693.719918
Manufacturing/Production/Operations,4759.510870,7140.489130,2.282609,1747.483696
Logistics/Transportation,4167.567568,6053.378378,1.608108,1767.837838
Quality Assurance/Quality Control,3441.618143,5333.765823,2.308017,1891.630802
Human Resources,2757.142857,4007.142857,6.000000,1954.035714
Banking,3934.761905,5707.142857,29.880952,2775.880952

In [36]:
it_softt=data_wuzzuf_clean[data_wuzzuf_clean['job_category_1']==('IT/Software Development')]

In [37]:
it_softt

,id,city,displayed_job_title,job_category_1,job_category_2,job_category_3,job_industry_1,job_industry_2,job_industry_3,salary_min,salary_max,num_vacancies,career_level,post_date,views,job_desc,job_req,job_exp
2,3096c0f2,Cairo,Junior Software Developer,IT/Software Development,Select,Select,Computer Software,Select,Select,2000,2500,1,Entry Level,2014-01-02 11:01:03,2940,job summary software developers are the brains...,NaN,1900-01-02 00:00:00
3,a99f9148,Cairo,Application Support Engineer,IT/Software Development,Select,Select,Telecommunications Services,Select,Select,2000,3500,1,Entry Level,2014-01-02 12:01:23,2042,position experience and skills required one or...,NaN,2017-02-01 00:00:00
4,37fb04eb,6 of October City,e-payments System Administrator,IT/Software Development,Select,Select,Computer Software,Select,Select,3000,5000,1,Experienced (Non-Manager),2014-01-02 15:01:17,2335,configure and archive data for the banks and g...,NaN,2017-03-01 00:00:00
6,d9f565c7,Cairo,Senior Software Engineer,IT/Software Development,Engineering,Select,Computer Software,Information Technology Services,Select,3500,6000,2,Experienced (Non-Manager),2014-01-02 15:01:59,1839,concept data structure design patterns uml obj...,NaN,1900-01-02 00:00:00
8,40fc347d,Cairo,IT Adminstrator,IT/Software Development,Select,Select,Retail,Select,Select,3000,5000,1,Manager,2014-01-02 17:00:31,1644,maintain the it retail management system rms e...,NaN,2017-05-03 00:00:00
10,164ff05e,Cairo,Senior Software Tester,IT/Software Development,Quality Assurance/Quality Control,Select,Information Technology Services,Computer Software,Computer/IT Services,5000,7000,2,Experienced (Non-Manager),2014-01-03 12:01:21,11,senior software tester engineer for informatio...,NaN,1900-01-03 00:00:00
12,8f46a1e4,Cairo,Sr Web Application & Web Designer,IT/Software Development,Select,Select,Internet Services,Select,Select,2000,3000,2,Experienced (Non-Manager),2014-01-03 19:01:23,9,description sr web designer developer with jav...,NaN,1900-01-06 00:00:00
14,ff2c556b,Cairo,Titanium Mobile Developer,IT/Software Development,Select,Select,Computer Software,Computer Games,Computer/IT Services,2000,3500,2,Experienced (Non-Manager),2014-01-04 12:01:49,941,job description years of work experience must ...,NaN,1900-01-01 00:00:00
23,9c2a39b2,Cairo,ERP IT Manager,IT/Software Development,Select,Select,Medical Devices and Supplies,Select,Select,10000,12000,1,Manager,2014-01-05 15:01:10,1933,job description coordinates with the project p...,NaN,2017-05-03 00:00:00
24,eb2d0924,Cairo,Quality Assurance & Process Improvement Team L...,IT/Software Development,Quality Assurance/Quality Control,Engineering,Information Technology Services,Select,Select,6000,9000,1,Experienced (Non-Manager),2014-01-05 15:01:52,2223,the ideal candidate will be responsible for sc...,NaN,2017-07-05 00:00:00
25,75499c87,Cairo,Lead Software Engineer(.Net),IT/Software Development,Engineering,Select,Information Technology Services,Select,Select,6000,9000,1,Experienced (Non-Manager),2014-01-05 15:01:58,1173,the ideal candidate will create and document d...,NaN,2017-07-05 00:00:00
28,2f4c439c,Cairo,Senior PHP Developer,IT/Software Development,Select,Select,Computer Software,Computer/IT Services,Select,3500,7500,5,Experienced (Non-Manager),2014-01-05 19:01:23,1055,desired experience php development experience ...,solid commercial knowledge of php xhtml css ja...,2017-07-03 00:00:00
35,5f26b713,Cairo,Enterprise Technical Support Engineer,IT/Software Development,Customer Service/Support,Select,Human Resources,Select,Select,3000,3500,40,Experienced (Non-Manager),2014-01-06 14:01:26,4866,requirements bachelor degree in communication ...,NaN,2017-03-01 00:00:00
39,51fd3f21,Cairo,ADSL Technical Support Agent,IT/Software Development,Customer Service/Support,Select,Human Resources,Select,Select,1700,2000,80,Entry Level,2014-01-06 15:01:20,1708,job description handle customer s inquiries in...,NaN,-1
45,28218785,Cairo,Senior Web Developer,IT/Software Development,Creative/Design,Select,Telecommunications Services,Select,Select,3500,5000,2,Experienced (Non-Manager),2014-01-06 16:39:02,1684,senior web developer key skills web design dev...,NaN,1900-01-03 00:00:00
47,4b27eb5c,Any Location,Java Engineer,IT/Software Development,Select,Select,Information Technology Services,Select,Select,15,15,15,Experienced (Non-Manager),2014-01-07 19:01:20,699,responsibilities write and debug unit and inte...,NaN,1900-01-02 00:00:00
49,4c4a2f45,Cairo,Software Engineer JAVA / J2EE,IT/Software Development,Select,Select,Computer Software,Select,Select,4000,8000,1,Experienced (Non-Manager),2014-01-08 10:01:48,1920,coformatique is looking for java software engi...,NaN,1900-01-04 00:00:00
60,1d942f7f,Cairo,Senior iOS Developer,IT/Software Development,Engineering,Select,Computer Software,Select,Select,4000,6000,2,Experienced (Non-Manager),2014-01-08 16:01:43,936,nazzelha is an innovative software powerhouse ...,NaN,1900-01-02 00:00:00
63,e9409a2e,Giza,Senior/Junior Java Developer,IT/Software Development,Engineering,Select,Translation and Localization,Select,Select,4000,8000,3,Experienced (Non-Manager),2014-01-08 18:01:57,2413,we are seeking a talented motivated and proces...,NaN,2017-05-03 00:00:00
66,74efb02,Cairo,PHP Developer [Ref.P1312],IT/Software Development,Select,Select,Computer Software,Computer/IT Services,Information Technology Services,1000,10000,1,Experienced (Non-Manager),2014-01-09 11:01:45,0,to years of strong experience in web based app...,NaN,2017-05-03 00:00:00
67,4291a777,Cairo,web designer & PHP web developer,IT/Software Development,Select,Select,Computer Software,Graphic Design,Select,1500,2000,3,Entry Level,2014-01-09 11:55:01,1542,urgently required job description job title we...,NaN,-2
73,b945eb12,Cairo,Software Engineer,IT/Software Development,Select,Select,Computer Software,Select,Select,2000,3000,1,Experienced (Non-Manager),2014-01-09 18:01:36,1642,atsi is seeking a net developer or years of ex...,NaN,2017-02-01 00:00:00
75,b6451226,Cairo,Web Developer,IT/Software Development,Select,Select,Medical Devices and Supplies,Business Services - Other,Select,3000,6000,3,Entry Level,2014-01-10 11:16:49,1896,job summarymaintaining and developing web site...,NaN,-3
87,dd2e43d2,Cairo,Senior PHP Developer,IT/Software Development,Select,Select,Computer/IT Services,Select,Select,3500,5000,2,Experienced (Non-Manager),2014-01-12 10:57:01,1119,are your php skills legendary we re looking fo...,NaN,1900-01-03 00:00:00
91,f52cfb4c,Cairo,Java Developer,IT/Software Development,Select,Select,Computer Software,Computer/IT Services,Select,2000,5000,8,Entry Level,2014-01-12 13:01:27,1614,the developer performs a variety of developmen...,NaN,1900-01-01 00:00:00
95,3a966ed5,Cairo,Web developer,IT/Software Development,Select,Select,Internet Services,Select,Select,1000,2000,2,Entry Level,2014-01-12 14:56:07,3054,we are hiring interns in web development where...,NaN,-2
97,85460fc3,Cairo,Java Developer,IT/Software Development,Select,Select,Computer Software,Computer/IT Services,Select,2000,5000,8,Entry Level,2014-01-12 15:01:12,0,the developer performs a variety of developmen...,NaN,1900-01-01 00:00:00
99,1c4f5e79,Cairo,Software Quality Engineer,IT/Software Development,Select,Select,Computer Software,Computer/IT Services,Select,3000,6000,5,Entry Level,2014-01-12 15:01:50,1605,the quality engineer is directly responsible f...,NaN,1900-01-01 00:00:00
100,9147538c,Cairo,Senior Android Developer,IT/Software Development,Select,Select,Computer Software,Select,Select,3000,7000,1,Experienced (Non-Manager),2014-01-12 15:01:51,1313,we are looking for an android senior developer...,NaN,1900-01-03 00:00:00
102,8400000000000000582147235184335491752625695869...,maadi,Senior Pre Sales Consultant,IT/Software Development,Select,Select,Computer Software,Computer Hardware,Restaurant/Food Services,2500,3500,5,Experienced (Non-Manager),2014-01-12 16:01:13,842,senior pre sales consultant job duties present...,skills qualifications age not more than from t...,2017-04-03 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21728,2ba166c3,Cairo,Java Developer,IT/Software Development,Select,Select,Computer/IT Services,Computer Software,Telecommunications Services,3500,5000,2,Experienced (Non-Manager),2016-05-17 15:05:27,154,understand implement technical functional requ...,technical skills j se j ee jsf orm ejb javascr...,2017-03-01 00:00:00
21730,fd99cb4a,Giza,Senior Front-End Web Developer,IT/Software Development,Select,Select,Computer Software,Select,Select,1000,10000,1,Experienced (Non-Manager),2016-05-17 15:08:22,448,job description responsible for the translatio...,qualifications expert skills at building respo...,1900-01-05 00:00:00
21735,37536334,Giza,UI Developer,IT/Software Development,Select,Select,Information Technology Services,Select,Select,3000,6000,1,Experienced (Non-Manager),2016-05-17 16:05:26,133,we are looking for a very professional user in...,years of experience in html css javascript yea...,2017-04-02 00:00:00
21737,cc194bc4,Cairo,Infrastructure Consultant,IT/Software Development,Engineering,Select,Information Technology Services,Select,Select,3000,5000,1,Experienced (Non-Manager),2016-05-17 16:05:58,86,the consultant at bluecloud delivers technical...,bsc of computer science computer engineering o...,1900-01-02 00:00:00
21738,405453a2,Cairo,Senior Front-End Developer,IT/Software Development,Select,Select,Internet Services,Select,Select,4000,5000,1,Experienced (Non-Manager),2016-05-17 17:15:05,141,strong knowledge in html css experience with j...,preferred skills strong knowledge with social ...,2017-04-03 00:00:00
21741,a937f697,Alexandria,IT Project Manager - Alexandria,IT/Software Development,Engineering,Project/Program Management,Computer Software,Computer/IT Services,Information Technology Services,8000,12000,1,Manager,2016-05-17 18:05:26,171,we are looking for an experienced project mana...,educational background in the fields of comput...,2017-07-04 00:00:00
21743,a7ec7ea5,Cairo,Fresh Front-End Developer,IT/Software Development,Select,Select,Computer Software,Select,Select,2000,3500,3,Entry Level,2016-05-17 21:05:50,0,fresh front end developers experienced are wel...,skills and qualifications proficient understan...,1899-12-28 00:00:00
21750,5338cbf4,Cairo,IT Help Desk Engineer,IT/Software Development,Engineering,Installation/Maintenance/Repair,Computer/IT Services,Telecommunications Services,Select,1000,4000,2,Entry Level,2016-05-18 08:05:57,674,troubleshoot and diagnose hardware and softwar...,bachelor degree in computer science computer e...,1899-12-29 00:00:00
21754,cd5c5e57,Giza,Java Developer,IT/Software Development,Select,Select,Information Technology Services,Select,Select,5000,6000,2,Experienced (Non-Manager),2016-05-18 09:05:08,98,job purpose adhere company process and softwar...,expertise knowledge of jse jee jsp and servlet...,1900-01-03 00:00:00
21755,95341246,Cairo,Web Developer - Front End,IT/Software Development,Select,Select,Computer Software,Computer/IT Services,Select,2000,5000,2,Experienced (Non-Manager),2016-05-18 09:05:09,183,spintech are looking for a talented and enthus...,required skills a good understanding of html c...,1900-01-01 00:00:00
21757,c3d43fc,Giza,Junior Java Developer,IT/Software Development,Select,Select,Computer Software,Computer/IT Services,Select,3000,5000,2,Experienced (Non-Manager),2016-05-18 09:05:27,133,job purpose to carry out high quality software...,functional level hands on development expertis...,1900-01-01 00:00:00
21761,b5087e5,Cairo,Python Developer,IT/Software Development,Select,Select,Computer Software,Computer/IT Services,Select,2000,5000,2,Experienced (Non-Manager),2016-05-18 09:05:57,112,spintech are looking for a talented and enthus...,excellent python solid html css javascript goo...,1900-01-01 00:00:00
21772,f6327e9f,Cairo,PHP Developer,IT/Software Development,Engineering,Select,Computer Software,Select,Select,4000,5000,1,Experienced (Non-Manager),2016-05-18 12:05:04,106,we are looking for super php developer your re...,bs degree in engineering computer science or r...,1900-01-02 00:00:00
21776,8feec63b,Cairo,Senior iOS Developer,IT/Software Development,Engineering,Select,Computer Software,Select,Select,6000,7000,1,Experienced (Non-Manager),2016-05-18 12:05:40,63,we are loooking for super ios developer you mu...,bs degree in engineering computer science or r...,1900-01-03 00:00:00
21780,3b0c1ba9,Cairo,"Senior Software Engineer ""iOS/Android""",IT/Software Development,Select,Select,Computer Software,Select,Select,7000,8000,1,Experienced (Non-Manager),2016-05-18 12:27:03,247,work on the development of web mobile applicat...,years of experience in software engineering ex...,1900-01-03 00:00:00
21785,d65dfb2c,Cairo,IT Programmer,IT/Software Development,Select,Select,Internet Services,Select,Select,5000,12000,1,Experienced (Non-Manager),2016-05-18 13:05:07,6,architect and develop scalable and responsive ...,ecent experience in hands on software design a...,2017-12-03 00:00:00
21792,3f3e5e19,Cairo,Junior Web Developer,IT/Software Development,Select,Select,Market Research,Online Media,Select,2000,4000,1,Experienced (Non-Manager),2016-05-18 13:05:41,161,job purpose this role will be responsible for ...,years of experience basic understanding of pro...,1899-12-29 00:00:00
21793,dfebb707,Cairo,Junior Oracle DBA,IT/Software Development,Select,Select,Computer/IT Services,Select,Select,4000,5000,1,Experienced (Non-Manager),2016-05-18 13:05:47,98,administration of application database good an...,skills required candidates should have years o...,1900-01-01 00:00:00
21797,5bcb924c,Cairo,Senior PHP Developer,IT/Software Development,Select,Select,Computer Software,Information Technology Services,Select,2500,10000,1,Experienced (Non-Manager),2016-05-18 13:47:14,91,development and maintenance of web solutions i...,requirements oop php mvc mysql jquery css html...,1900-01-03 00:00:00
21806,67bf71ad,Alexandria,Senior PHP Developer - Alexandria,IT/Software Development,Select,Select,Computer Software,Information Technology Services,Computer/IT Services,4000,6000,2,Experienced (Non-Manager),2016-05-18 14:56:47,538,we are looking for a php web developer with ye...,bachelor s degree in computer science software...,1900-01-03 00:00:00
21812,a8bf6e3,Cairo,Oracle Developer,IT/Software Development,Select,Select,Pharmaceuticals,FMCG,Manufacturing,1000,2000,2,Experienced (Non-Manager),2016-05-18 15:05:47,109,customization of oracle standard reports to su...,bachelor degree in computer science computer e...,2017-03-01 00:00:00
21815,ed33dbe4,Cairo,Senior Full Stack Developer (Node.js),IT/Software Development,Select,Select,Computer/IT Services,Select,Select,2000,7000,1,Experienced (Non-Manager),2016-05-18 16:05:18,89,we are undergoing a pretty awesome transformat...,years of experience experience with test drive...,2017-05-01 00:00:00
21818,3b7df01,Alexandria,Web Developer,IT/Software Development,Select,Select,Information Technology Services,Select,Select,1200,3000,1,Experienced (Non-Manager),2016-05-18 16:07:51,163,we are looking for a talnted net web developer...,computer engineering science graduate is a mus...,2017-03-01 00:00:00
21821,173ce687,Cairo,Senior Test Engineer,IT/Software Development,Select,Select,Information Technology Services,Select,Select,2000,3000,1,Experienced (Non-Manager),2016-05-18 20:05:32,3,NaN,NaN,1900-01-03 00:00:00
21829,6ee05e23,Cairo,QC Engineer - IT,IT/Software Development,Quality Assurance/Quality Control,Select,Computer Software,Select,Select,2500,4000,1,Experienced (Non-Manager),2016-05-19 07:05:48,42,creating maintaining and executing of manual a...,experience in software testing tools ability o...,2017-02-01 00:00:00
21831,448f75b7,Cairo,Senior Technical Support,IT/Software Development,Select,Select,Computer/IT Services,Select,Select,7000,10000,1,Experienced (Non-Manager),2016-05-19 08:05:10,80,understand ishraq client architecture and rele...,b sc in computer science or equivalent is requ...,1900-01-06 00:00:00
21832,daebe014,Giza,ERP Administrator,IT/Software Development,Accounting/Finance/Insurance,Select,Retail,Information Technology Services,Select,2000,4000,1,Experienced (Non-Manager),2016-05-19 08:05:15,47,act as a primary interface with erp provider f...,bachelor s degree in a relevant computer scien...,2017-05-03 00:00:00
21833,dd86240d,Cairo,Technical Operation Specialist,IT/Software Development,Installation/Maintenance/Repair,Select,Computer/IT Services,Select,Select,2000,4000,3,Experienced (Non-Manager),2016-05-19 08:05:16,40,we are seeking for technical operation special...,bsc in computer science or equivalent years of...,2017-03-01 00:00:00
21842,fa1a0132,Giza,Senoir Drupal Developer,IT/Software Development,Select,Select,Computer Software,Computer/IT Services,Select,3000,5000,1,Experienced (Non-Manager),2016-05-19 09:27:41,104,senior drupal developer is required to work in...,drupal expertise min years including custom mo...,1900-01-02 00:00:00
21843,ceeabc5b,Cairo,Microsoft Product Manager,IT/Software Development,Marketing,Sales/Retail/Business Development,Computer/IT Services,Information Technology Services,Computer and Network Security,6000,8000,2,Experienced (Non-Manager),2016-05-19 10:05:15,2,identify new areas lines of business that comp...,education bachelor s degree in electrical engi...,3 5

In [38]:
"""
we do some analysis to it job category ,
this analysis here can do for all job categories but here an example for that"""

'\nwe do some analysis to it job category ,\nthis analysis here can do for all job categories but here an example for that'

In [39]:
#export the data ti csv file for using it in tableu
it_softt.to_csv('it_soft.csv', sep='\t',encoding='utf8')

In [40]:
it_softt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5762 entries, 2 to 21843
Data columns (total 18 columns):
id                     5762 non-null object
city                   5762 non-null object
displayed_job_title    5762 non-null object
job_category_1         5762 non-null object
job_category_2         5762 non-null object
job_category_3         5762 non-null object
job_industry_1         5762 non-null object
job_industry_2         5762 non-null object
job_industry_3         5762 non-null object
salary_min             5762 non-null int64
salary_max             5762 non-null int64
num_vacancies          5762 non-null int64
career_level           5762 non-null object
post_date              5762 non-null datetime64[ns]
views                  5762 non-null int64
job_desc               5703 non-null object
job_req                5056 non-null object
job_exp                5762 non-null object
dtypes: datetime64[ns](1), int64(4), object(13)
memory usage: 855.3+ KB

In [41]:
#convert columns type to string
it_softt['job_desc'] = it_softt['job_desc'].astype(str)
it_softt['job_req'] = it_softt['job_req'].astype(str)

C:\anaconda\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\anaconda\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [42]:
"""
now using CountVectorizerto count most usimg words in three columns 
 job description / job requirement  / job title

"""

'\nnow using CountVectorizerto count most usimg words in three columns \n job description / job requirement  / job title\n\n'

In [43]:
from sklearn.feature_extraction.text import CountVectorizer

In [44]:
jobdesc = CountVectorizer(analyzer=review_to_words).fit(it_softt['job_desc'])
jobdreq = CountVectorizer(analyzer=review_to_words).fit(it_softt['job_req'])
job_title = CountVectorizer(analyzer=review_to_words).fit(it_softt['displayed_job_title'])

In [45]:
job_decsr=it_softt['job_desc']

In [46]:
job_requr=it_softt['job_req']

In [47]:
job_title=it_softt['displayed_job_title']

In [48]:
# Print total number of vocab words
print(len(jobdreq.vocabulary_))

1

In [49]:
print(len(jobdesc.vocabulary_))

1

In [50]:
vectorizer = CountVectorizer(analyzer = "word",   
                             tokenizer = None,    
                             preprocessor = None, 
                             stop_words = None,   
                             max_features = 500)

In [51]:
vectorizer1 = CountVectorizer(analyzer = "word",   
                             tokenizer = None,    
                             preprocessor = None, 
                             stop_words = None,   
                             max_features = 500)

In [52]:
vectorizer2 = CountVectorizer(analyzer = "word",   
                             tokenizer = None,    
                             preprocessor = None, 
                             stop_words = None,   
                             max_features = 500)

In [53]:
train_data_desc_features = vectorizer.fit_transform(job_decsr)

In [54]:
train_data_requ_features = vectorizer1.fit_transform(job_requr)

In [55]:
train_data_title_features = vectorizer2.fit_transform(job_title)

In [56]:
train_data_desc_features = train_data_desc_features.toarray()

In [57]:
train_data_requ_features = train_data_requ_features .toarray()

In [58]:
train_data_title_features = train_data_title_features.toarray()

In [59]:
print train_data_desc_features.shape

(5762L, 500L)

In [60]:
print train_data_requ_features.shape

(5762L, 500L)

In [61]:
print train_data_title_features.shape

(5762L, 500L)

In [62]:
job_descr = vectorizer.get_feature_names()
print job_descr

[u'ability', u'able', u'about', u'access', u'according', u'across', u'activities', u'administration', u'advanced', u'agile', u'ajax', u'all', u'also', u'an', u'analysis', u'analyze', u'analyzing', u'and', u'android', u'any', u'apis', u'app', u'application', u'applications', u'apply', u'appropriate', u'apps', u'architecture', u'are', u'areas', u'as', u'asp', u'aspects', u'assigned', u'assist', u'assistance', u'at', u'automation', u'back', u'backup', u'based', u'basic', u'be', u'best', u'between', u'both', u'bug', u'bugs', u'build', u'building', u'business', u'but', u'by', u'cairo', u'can', u'candidate', u'candidates', u'cases', u'changes', u'client', u'clients', u'closely', u'cloud', u'code', u'coding', u'collaborate', u'communicate', u'communication', u'companies', u'company', u'complete', u'completion', u'complex', u'components', u'computer', u'concepts', u'conduct', u'configuration', u'configure', u'configuring', u'content', u'continuously', u'contribute', u'control', u'core', u'create', u'creating', u'creative', u'cross', u'crossover', u'css', u'current', u'custom', u'customer', u'customers', u'cycle', u'daily', u'data', u'database', u'databases', u'day', u'deadlines', u'debugging', u'defects', u'define', u'degree', u'deliver', u'delivering', u'delivery', u'deploy', u'deployment', u'description', u'design', u'designer', u'designers', u'designing', u'designs', u'detailed', u'determine', u'develop', u'developed', u'developer', u'developers', u'developing', u'development', u'develops', u'devices', u'different', u'do', u'document', u'documentation', u'documenting', u'documents', u'drive', u'driven', u'during', u'duties', u'dynamic', u'each', u'edge', u'effective', u'effectively', u'efficiency', u'efficient', u'egypt', u'end', u'engineer', u'engineering', u'engineers', u'english', u'enhance', u'ensure', u'ensuring', u'enterprise', u'environment', u'environments', u'equipment', u'erp', u'etc', u'evaluate', u'excellent', u'execute', u'execution', u'existing', u'expected', u'experience', u'experienced', u'expertise', u'fast', u'features', u'field', u'fixing', u'follow', u'following', u'for', u'framework', u'frameworks', u'from', u'front', u'full', u'functional', u'functionality', u'functions', u'future', u'general', u'global', u'goals', u'good', u'great', u'group', u'growing', u'guidelines', u'hands', u'hardware', u'has', u'have', u'he', u'help', u'high', u'highly', u'his', u'hours', u'how', u'html', u'ideal', u'ideas', u'identify', u'if', u'implement', u'implementation', u'implementing', u'improve', u'improvement', u'improving', u'in', u'include', u'including', u'industry', u'information', u'infrastructure', u'innovative', u'install', u'installation', u'installing', u'integration', u'interface', u'interfaces', u'internal', u'into', u'involved', u'ios', u'is', u'issues', u'it', u'its', u'java', u'javascript', u'job', u'join', u'jquery', u'junior', u'key', u'knowledge', u'language', u'languages', u'large', u'latest', u'lead', u'leader', u'leadership', u'leading', u'learn', u'level', u'life', u'lifecycle', u'like', u'line', u'linux', u'll', u'looking', u'maintain', u'maintaining', u'maintains', u'maintenance', u'make', u'manage', u'management', u'manager', u'managers', u'managing', u'market', u'marketing', u'may', u'meet', u'members', u'methodologies', u'microsoft', u'minimum', u'mobile', u'modify', u'modules', u'monitor', u'monitoring', u'more', u'most', u'motivated', u'multi', u'multiple', u'must', u'mvc', u'mysql', u'necessary', u'need', u'needed', u'needs', u'net', u'network', u'networks', u'new', u'not', u'object', u'objectives', u'of', u'office', u'on', u'one', u'online', u'open', u'operating', u'operational', u'operations', u'opportunities', u'opportunity', u'optimization', u'or', u'oracle', u'order', u'organization', u'oriented', u'other', u'our', u'out', u'over', u'part', u'participate', u'passion', u'passionate', u'per', u'perform', u'performance', u'performs', u'phases', u'php', u'plan', u'planning', u'plans', u'platform', u'platforms', u'plus', u'policies', u'position', u'practices', u'prepare', u'problem', u'problems', u'procedures', u'process', u'processes', u'produce', u'product', u'production', u'products', u'professional', u'program', u'programming', u'programs', u'progress', u'project', u'projects', u'provide', u'provides', u'providing', u'qa', u'quality', u're', u'regular', u'related', u'remote', u'report', u'reporting', u'reports', u'requests', u'required', u'requirements', u'research', u'resolution', u'resolve', u'resources', u'responsibilities', u'responsibility', u'responsible', u'results', u'review', u'reviews', u'role', u'sales', u'science', u'security', u'seeking', u'self', u'senior', u'server', u'servers', u'service', u'services', u'set', u'sharepoint', u'should', u'site', u'sites', u'skills', u'so', u'software', u'solution', u'solutions', u'solve', u'solving', u'source', u'specific', u'specification', u'specifications', u'sql', u'staff', u'standard', u'standards', u'status', u'strategy', u'strong', u'successful', u'such', u'support', u'supporting', u'system', u'systems', u'take', u'talented', u'task', u'tasks', u'team', u'teams', u'technical', u'techniques', u'technologies', u'technology', u'test', u'testing', u'tests', u'that', u'the', u'their', u'them', u'these', u'they', u'this', u'through', u'throughout', u'time', u'timely', u'to', u'tools', u'top', u'track', u'training', u'trends', u'troubleshoot', u'troubleshooting', u'tuning', u'ui', u'under', u'understand', u'understanding', u'unit', u'up', u'updates', u'us', u'usability', u'use', u'user', u'users', u'using', u'ux', u'various', u'very', u'visual', u'we', u'web', u'website', u'websites', u'well', u'what', u'when', u'where', u'which', u'while', u'who', u'will', u'windows', u'with', u'within', u'wordpress', u'work', u'working', u'world', u'write', u'writing', u'written', u'xml', u'years', u'you', u'your']

In [63]:
job_requir = vectorizer1.get_feature_names()
print job_requir

[u'ability', u'able', u'about', u'across', u'active', u'administration', u'adobe', u'advanced', u'advantage', u'agile', u'ajax', u'all', u'also', u'an', u'analysis', u'analytical', u'and', u'android', u'angular', u'angularjs', u'any', u'apache', u'api', u'apis', u'app', u'application', u'applications', u'apply', u'approach', u'apps', u'arabic', u'architecture', u'architectures', u'are', u'as', u'asp', u'asset', u'at', u'attention', u'attitude', u'automated', u'awareness', u'bachelor', u'back', u'background', u'based', u'basic', u'be', u'best', u'big', u'bootstrap', u'both', u'browser', u'bs', u'bsc', u'build', u'building', u'business', u'but', u'by', u'can', u'candidate', u'candidates', u'ccna', u'certification', u'certified', u'clean', u'clear', u'client', u'clients', u'cloud', u'cms', u'cocoa', u'code', u'codeigniter', u'coding', u'command', u'commitment', u'common', u'communicate', u'communication', u'communications', u'complex', u'components', u'computer', u'concept', u'concepts', u'configuration', u'content', u'control', u'core', u'create', u'creating', u'creative', u'crm', u'cross', u'crystal', u'css', u'current', u'custom', u'customer', u'customers', u'cycle', u'data', u'database', u'databases', u'db', u'deadlines', u'debugging', u'deep', u'degree', u'deliver', u'delivering', u'delivery', u'demonstrate', u'demonstrated', u'deploying', u'deployment', u'depth', u'design', u'designing', u'desired', u'detail', u'details', u'develop', u'developer', u'developing', u'development', u'different', u'discipline', u'do', u'documentation', u'done', u'driven', u'drupal', u'dynamic', u'eclipse', u'education', u'ee', u'effective', u'effectively', u'end', u'engineer', u'engineering', u'english', u'enterprise', u'entity', u'environment', u'environments', u'equivalent', u'erp', u'essential', u'etc', u'excellent', u'existing', u'experience', u'experienced', u'expert', u'expertise', u'extensive', u'familiar', u'familiarity', u'fast', u'field', u'flexible', u'fluent', u'following', u'for', u'forms', u'foundation', u'framework', u'frameworks', u'from', u'front', u'full', u'functional', u'general', u'git', u'good', u'google', u'graduate', u'great', u'hands', u'hard', u'hardware', u'has', u'have', u'having', u'help', u'hibernate', u'high', u'highly', u'hours', u'how', u'html', u'if', u'illustrator', u'implementation', u'implementing', u'in', u'including', u'independently', u'industry', u'information', u'infrastructure', u'integration', u'interface', u'internet', u'interpersonal', u'into', u'ios', u'is', u'issues', u'it', u'java', u'javascript', u'job', u'jpa', u'jquery', u'js', u'jsf', u'json', u'jsp', u'knowledge', u'language', u'languages', u'laravel', u'large', u'latest', u'lead', u'leadership', u'learn', u'learner', u'learning', u'least', u'less', u'level', u'libraries', u'life', u'lifecycle', u'like', u'linux', u'location', u'looking', u'maintain', u'maintenance', u'major', u'make', u'manage', u'management', u'managing', u'mandatory', u'meet', u'members', u'methodologies', u'methodology', u'microsoft', u'minimum', u'mobile', u'modeling', u'modules', u'more', u'motivated', u'ms', u'multi', u'multiple', u'must', u'mvc', u'mysql', u'nan', u'native', u'necessary', u'needs', u'net', u'network', u'networking', u'new', u'node', u'non', u'not', u'object', u'objective', u'of', u'office', u'on', u'one', u'only', u'oo', u'oop', u'open', u'operating', u'optimization', u'or', u'oracle', u'oral', u'organization', u'organizational', u'organized', u'oriented', u'other', u'our', u'paced', u'part', u'party', u'passion', u'passionate', u'patterns', u'performance', u'personal', u'photoshop', u'php', u'pl', u'planning', u'platform', u'platforms', u'player', u'please', u'plus', u'position', u'positive', u'practical', u'practices', u'preferable', u'preferably', u'preferred', u'presentation', u'pressure', u'previous', u'principles', u'problem', u'problems', u'procedures', u'process', u'processes', u'product', u'production', u'products', u'professional', u'proficiency', u'proficient', u'programming', u'project', u'projects', u'proven', u'provide', u'published', u'python', u'qualification', u'qualifications', u'quality', u'queries', u'quickly', u're', u'record', u'related', u'relational', u'relevant', u'reporting', u'reports', u'required', u'requirements', u'research', u'responsive', u'rest', u'restful', u'results', u'ruby', u'sales', u'sc', u'science', u'sciences', u'script', u'scripting', u'scrum', u'sdk', u'se', u'security', u'self', u'senior', u'server', u'servers', u'service', u'services', u'servlets', u'sharepoint', u'should', u'side', u'similar', u'skill', u'skills', u'soa', u'soap', u'social', u'software', u'solid', u'solution', u'solutions', u'solve', u'solving', u'some', u'source', u'spoken', u'spring', u'sql', u'stack', u'standard', u'standards', u'store', u'stress', u'strong', u'structures', u'studio', u'subject', u'successful', u'such', u'suite', u'support', u'svn', u'system', u'systems', u'task', u'tasks', u'team', u'teams', u'technical', u'techniques', u'technologies', u'technology', u'test', u'testing', u'tests', u'than', u'that', u'the', u'their', u'them', u'thinking', u'third', u'this', u'through', u'tier', u'tight', u'time', u'to', u'tools', u'track', u'training', u'travel', u'trends', u'troubleshooting', u'tuning', u'two', u'ui', u'uml', u'under', u'understand', u'understanding', u'unit', u'university', u'unix', u'up', u'usability', u'use', u'user', u'using', u'ux', u'various', u'vb', u'verbal', u'version', u'very', u'visual', u'wcf', u'we', u'web', u'websites', u'well', u'what', u'when', u'who', u'will', u'willing', u'willingness', u'windows', u'with', u'within', u'wordpress', u'work', u'worker', u'working', u'would', u'write', u'writing', u'written', u'xml', u'year', u'years', u'you', u'your', u'zend']

In [64]:
job_title = vectorizer2.get_feature_names()
print job_title

[u'000', u'13', u'15', u'2013', u'30', u'3d', u'500', u'6th', u'75', u'abap', u'account', u'accounting', u'adf', u'admin', u'administration', u'administrator', u'adminstrator', u'adsl', u'agent', u'agile', u'ai', u'alexanderia', u'alexandria', u'analyst', u'and', u'andriod', u'android', u'angular', u'angularjs', u'apex', u'app', u'application', u'applications', u'apps', u'arabia', u'architect', u'architecture', u'artificial', u'asp', u'assistant', u'associate', u'assurance', u'aswan', u'asyut', u'at', u'atg', u'atm', u'auditor', u'autocad', u'autodesk', u'automation', u'automotive', u'avaya', u'aws', u'ax', u'azure', u'b1', u'back', u'backend', u'background', u'banking', u'base', u'based', u'basis', u'bi', u'big', u'billing', u'biomedical', u'biztalk', u'bobj', u'boy', u'bpm', u'branches', u'bss', u'build', u'building', u'business', u'bw', u'by', u'cairo', u'cakephp', u'call', u'canada', u'capacity', u'care', u'case', u'cassandra', u'ccna', u'ce', u'center', u'chain', u'chandigarh', u'channel', u'chef', u'chief', u'cisco', u'city', u'clerk', u'client', u'cloud', u'cloudinn', u'cms', u'co', u'code', u'codeigniter', u'coder', u'coders', u'cognos', u'collaboration', u'com', u'communication', u'communications', u'company', u'computer', u'computerized', u'configuration', u'consultant', u'consultants', u'content', u'control', u'controller', u'coordinator', u'creative', u'crm', u'cross', u'css', u'customer', u'damietta', u'damlag', u'data', u'database', u'dba', u'delivery', u'delphi', u'designer', u'desk', u'desktop', u'developer', u'developers', u'development', u'devloper', u'devops', u'digital', u'director', u'django', u'document', u'dot', u'drupal', u'dynamics', u'ebs', u'ecm', u'edi', u'educational', u'ee', u'egypt', u'electronic', u'embedded', u'emc', u'end', u'engineer', u'engineering', u'engineers', u'english', u'enterprise', u'entry', u'erp', u'esb', u'estabena', u'etl', u'evaluator', u'exchange', u'executive', u'experience', u'experienced', u'expert', u'fico', u'field', u'filenet', u'finance', u'financial', u'financials', u'firmware', u'first', u'flash', u'flex', u'for', u'framework', u'freelance', u'french', u'fresh', u'from', u'front', u'frontend', u'full', u'fullstack', u'function', u'functional', u'fusion', u'game', u'general', u'german', u'gis', u'git', u'google', u'gp', u'graduate', u'graphic', u'graphics', u'great', u'gsm', u'hardware', u'hcm', u'head', u'help', u'helpdesk', u'home', u'hosting', u'hotel', u'house', u'hr', u'hrms', u'html5', u'hyderabad', u'ibm', u'ict', u'image', u'imaging', u'implementation', u'implementer', u'improvement', u'india', u'indoor', u'industry', u'information', u'infrastructure', u'instructor', u'integration', u'integrator', u'intelligence', u'interaction', u'interface', u'intermediate', u'intern', u'internal', u'internship', u'ios', u'it', u'j2ee', u'java', u'javacript', u'javascript', u'joomla', u'jr', u'js', u'jsf', u'junior', u'juniper', u'kngine', u'ksa', u'l2', u'lamp', u'laravel', u'lead', u'leader', u'learning', u'level', u'liferay', u'linux', u'lisp', u'localization', u'looking', u'lotus', u'magento', u'maintenance', u'management', u'manager', u'mansoura', u'marketing', u'master', u'media', u'medical', u'microsoft', u'mid', u'middleware', u'mining', u'mm', u'mno', u'mobile', u'mobilephone', u'month', u'months', u'moodle', u'ms', u'multimedia', u'mvc', u'mysql', u'native', u'needed', u'net', u'network', u'networking', u'networks', u'ninja', u'nlp', u'node', u'nodejs', u'october', u'odi', u'odoo', u'of', u'ofbiz', u'office', u'officer', u'on', u'open', u'openerp', u'operation', u'operational', u'operations', u'or', u'oracle', u'outdoor', u'owner', u'package', u'page', u'part', u'partner', u'perl', u'phone', u'phonegap', u'php', u'phpfox', u'pi', u'plains', u'platform', u'platforms', u'plone', u'pm', u'point', u'pos', u'powerbuilder', u'practice', u'pre', u'presales', u'principal', u'printer', u'process', u'processing', u'product', u'production', u'professional', u'program', u'programer', u'programmer', u'programming', u'project', u'projects', u'publisher', u'python', u'qa', u'qc', u'qt', u'quality', u'rails', u'remedy', u'remote', u'report', u'representative', u'required', u'researcher', u'retail', u'ruby', u'saas', u'sale', u'sales', u'sap', u'saudi', u'science', u'scm', u'script', u'scrum', u'search', u'section', u'security', u'senior', u'senoir', u'seo', u'server', u'service', u'servicenow', u'services', u'sharepoint', u'siebel', u'silverlight', u'simulink', u'soa', u'social', u'software', u'softwaretester', u'solaris', u'solution', u'solutions', u'sotware', u'source', u'speaker', u'speakers', u'speaking', u'specialis', u'specialist', u'specilaist', u'speech', u'spi', u'spring', u'spss', u'sqa', u'sql', u'sr', u'stack', u'startup', u'storage', u'strategist', u'strategy', u'strong', u'structure', u'successfactors', u'suite', u'summer', u'supermarket', u'superstar', u'supervisor', u'supply', u'support', u'surveillance', u'sw', u'swift', u'switch', u'symantec', u'symfony', u'symfony2', u'symphony', u'syscenter', u'sysops', u'system', u'systems', u'tanta', u'teacher', u'team', u'teamleader', u'tech', u'techincal', u'technical', u'technician', u'techno', u'technology', u'tele', u'telecom', u'telecommunication', u'telecommunications', u'telesales', u'temporary', u'test', u'tester', u'testing', u'themer', u'tibco', u'time', u'titanium', u'to', u'togaf', u'trainee', u'trainer', u'training', u'translator', u'ui', u'unity', u'unity3d', u'unix', u'user', u'using', u'ux', u'vaadin', u'vas', u'vb', u'vb6', u'vision', u'visual', u'voice', u'voip', u'web', u'webmaster', u'website', u'windows', u'with', u'wordpress', u'work', u'wpf', u'writer', u'xamarin', u'yii', u'\u0645\u0637\u0644\u0648\u0628']

In [65]:
# Sum up the counts of each vocabulary word
dist = np.sum(train_data_desc_features, axis=0)

# For each, print the vocabulary word and the number of times it 
# appears in the training set
for tag, count in zip(job_descr, dist):
    print tag,count

ability 875
able 359
about 496
access 217
according 358
across 344
activities 553
administration 309
advanced 271
agile 271
ajax 226
all 1798
also 480
an 1596
analysis 1202
analyze 451
analyzing 243
and 39214
android 619
any 489
apis 198
app 233
application 1927
applications 3442
apply 274
appropriate 395
apps 491
architecture 474
are 2547
areas 198
as 3438
asp 393
aspects 225
assigned 449
assist 453
assistance 188
at 924
automation 201
back 343
backup 235
based 1056
basic 205
be 3090
best 669
between 253
both 435
bug 328
bugs 288
build 826
building 509
business 2339
but 253
by 1751
cairo 190
can 548
candidate 574
candidates 213
cases 489
changes 289
client 885
clients 742
closely 390
cloud 190
code 2089
coding 582
collaborate 360
communicate 338
communication 510
companies 228
company 1264
complete 222
completion 197
complex 523
components 469
computer 1027
concepts 259
conduct 317
configuration 390
configure 262
configuring 180
content 321
continuously 206
contribute 290
control 371
core 213
create 898
creating 349
creative 279
cross 299
crossover 221
css 679
current 400
custom 248
customer 1171
customers 889
cycle 341
daily 299
data 1503
database 1032
databases 374
day 339
deadlines 237
debugging 280
defects 202
define 331
degree 226
deliver 469
delivering 233
delivery 431
deploy 210
deployment 354
description 285
design 4189
designer 220
designers 223
designing 616
designs 435
detailed 227
determine 227
develop 2143
developed 266
developer 1682
developers 1168
developing 1216
development 4621
develops 266
devices 244
different 451
do 302
document 589
documentation 844
documenting 218
documents 340
drive 183
driven 190
during 187
duties 466
dynamic 198
each 247
edge 272
effective 251
effectively 349
efficiency 271
efficient 203
egypt 268
end 1214
engineer 405
engineering 416
engineers 435
english 326
enhance 189
ensure 1372
ensuring 317
enterprise 400
environment 798
environments 260
equipment 244
erp 308
etc 481
evaluate 363
excellent 541
execute 238
execution 192
existing 1005
expected 183
experience 3507
experienced 353
expertise 233
fast 322
features 595
field 274
fixing 267
follow 358
following 461
for 8653
framework 317
frameworks 299
from 1619
front 521
full 521
functional 684
functionality 380
functions 237
future 203
general 237
global 240
goals 231
good 958
great 243
group 195
growing 238
guidelines 187
hands 288
hardware 835
has 378
have 1217
he 205
help 593
high 1011
highly 316
his 246
hours 265
how 305
html 784
ideal 188
ideas 235
identify 405
if 615
implement 958
implementation 955
implementing 403
improve 374
improvement 216
improving 224
in 9307
include 302
including 1014
industry 307
information 789
infrastructure 316
innovative 277
install 278
installation 284
installing 186
integration 532
interface 307
interfaces 283
internal 408
into 624
involved 225
ios 597
is 3554
issues 1231
it 1646
its 290
java 636
javascript 613
job 1037
join 512
jquery 397
junior 257
key 394
knowledge 1756
language 229
languages 213
large 192
latest 256
lead 494
leader 367
leadership 188
leading 286
learn 306
level 662
life 312
lifecycle 294
like 278
line 185
linux 244
ll 311
looking 1033
maintain 1429
maintaining 582
maintains 225
maintenance 588
make 396
manage 679
management 1385
manager 507
managers 243
managing 422
market 238
marketing 274
may 268
meet 549
members 693
methodologies 231
microsoft 561
minimum 381
mobile 1236
modify 243
modules 418
monitor 404
monitoring 390
more 330
most 398
motivated 284
multi 189
multiple 318
must 753
mvc 254
mysql 349
necessary 359
need 420
needed 517
needs 607
net 1053
network 895
networks 285
new 2750
not 351
object 271
objectives 192
of 13246
office 217
on 4200
one 459
online 191
open 296
operating 329
operational 184
operations 394
opportunities 200
opportunity 269
optimization 214
or 2920
oracle 473
order 222
organization 332
oriented 340
other 1339
our 2151
out 255
over 192
part 432
participate 492
passion 237
passionate 213
per 225
perform 719
performance 1373
performs 187
phases 204
php 883
plan 596
planning 432
plans 423
platform 515
platforms 236
plus 534
policies 197
position 486
practices 604
prepare 243
problem 423
problems 1220
procedures 586
process 965
processes 563
produce 200
product 1252
production 460
products 1105
professional 365
program 281
programming 862
programs 373
progress 214
project 2299
projects 1161
provide 1281
provides 248
providing 382
qa 184
quality 1619
re 374
regular 195
related 845
remote 232
report 315
reporting 309
reports 865
requests 294
required 965
requirements 2593
research 464
resolution 199
resolve 417
resources 231
responsibilities 1007
responsibility 199
responsible 1459
results 287
review 413
reviews 301
role 570
sales 765
science 284
security 625
seeking 336
self 312
senior 665
server 939
servers 416
service 530
services 1083
set 263
sharepoint 413
should 400
site 433
sites 191
skills 1413
so 230
software 5401
solution 542
solutions 1820
solve 234
solving 386
source 372
specific 212
specification 192
specifications 640
sql 747
staff 432
standard 254
standards 852
status 214
strategy 196
strong 902
successful 236
such 475
support 2397
supporting 233
system 2123
systems 2349
take 278
talented 343
task 287
tasks 704
team 4065
teams 668
technical 3125
techniques 214
technologies 1530
technology 772
test 1841
testing 1605
tests 460
that 2212
the 18334
their 606
them 347
these 208
they 314
this 1001
through 661
throughout 180
time 877
timely 225
to 17473
tools 841
top 191
track 201
training 603
trends 200
troubleshoot 323
troubleshooting 433
tuning 188
ui 500
under 264
understand 437
understanding 660
unit 596
up 948
updates 184
us 228
usability 279
use 637
user 1458
users 894
using 1580
ux 217
various 298
very 218
visual 200
we 2169
web 2900
website 373
websites 318
well 788
what 329
when 244
where 227
which 302
while 255
who 716
will 3054
windows 340
with 8449
within 549
wordpress 236
work 3306
working 1521
world 314
write 537
writing 413
written 240
xml 209
years 856
you 3373
your 1073

In [66]:
list_count_job_desc= list(dist)
list_job_desc = list(job_descr)

In [67]:
#now create new data frame for this new count of words results to make its visualisation

In [68]:
data_frame_dsec= pd.DataFrame(list_count_job_desc)

In [69]:
data_frame_dsec['list_desc'] = pd.Series(list_job_desc, index=data_frame_dsec.index)

In [70]:
"""data_frame_dsec['count_list_desc'] = pd.Series(list_count_job_desc, index=data_frame_dsec.index)"""

"data_frame_dsec['count_list_desc'] = pd.Series(list_count_job_desc, index=data_frame_dsec.index)"

In [71]:
data_frame_dsec.head(10)

     0       list_desc
0  875         ability
1  359            able
2  496           about
3  217          access
4  358       according
5  344          across
6  553      activities
7  309  administration
8  271        advanced
9  271           agile

In [72]:
dist1 = np.sum(train_data_requ_features, axis=0)

# For each, print the vocabulary word and the number of times it 
# appears in the training set

for tag, count in zip(job_requir, dist1):
    print tag,count

ability 2837
able 644
about 279
across 113
active 109
administration 403
adobe 126
advanced 267
advantage 156
agile 495
ajax 561
all 349
also 139
an 1009
analysis 493
analytical 568
and 20030
android 765
angular 148
angularjs 219
any 455
apache 143
api 281
apis 449
app 244
application 933
applications 1200
apply 152
approach 126
apps 340
arabic 189
architecture 346
architectures 147
are 711
as 1656
asp 778
asset 187
at 999
attention 256
attitude 129
automated 109
awareness 112
bachelor 1150
back 128
background 445
based 432
basic 482
be 1389
best 349
big 167
bootstrap 281
both 428
browser 151
bs 325
bsc 159
build 145
building 354
business 884
but 247
by 154
can 273
candidate 203
candidates 146
ccna 119
certification 183
certified 175
clean 133
clear 120
client 272
clients 111
cloud 179
cms 157
cocoa 104
code 610
codeigniter 121
coding 217
command 601
commitment 180
common 118
communicate 188
communication 1923
communications 210
complex 256
components 108
computer 2898
concept 126
concepts 600
configuration 208
content 151
control 461
core 390
create 148
creating 173
creative 221
crm 113
cross 242
crystal 146
css 1671
current 106
custom 209
customer 332
customers 136
cycle 367
data 794
database 1015
databases 434
db 146
deadlines 286
debugging 149
deep 225
degree 1879
deliver 126
delivering 129
delivery 127
demonstrate 109
demonstrated 186
deploying 131
deployment 155
depth 134
design 2489
designing 240
desired 168
detail 269
details 158
develop 183
developer 304
developing 863
development 3998
different 205
discipline 251
do 105
documentation 249
done 117
driven 179
drupal 215
dynamic 129
eclipse 107
education 276
ee 353
effective 183
effectively 219
end 502
engineer 130
engineering 1346
english 1587
enterprise 295
entity 175
environment 984
environments 180
equivalent 586
erp 138
essential 156
etc 601
excellent 2659
existing 128
experience 11653
experienced 180
expert 283
expertise 236
extensive 247
familiar 306
familiarity 569
fast 314
field 686
flexible 149
fluent 221
following 553
for 1724
forms 116
foundation 143
framework 834
frameworks 681
from 485
front 281
full 327
functional 160
general 221
git 404
good 3740
google 162
graduate 197
great 128
hands 393
hard 173
hardware 155
has 199
have 1434
having 116
help 109
hibernate 178
high 536
highly 284
hours 177
how 242
html 1940
if 243
illustrator 118
implementation 287
implementing 175
in 11123
including 696
independently 196
industry 130
information 542
infrastructure 108
integration 355
interface 164
internet 115
interpersonal 364
into 108
ios 688
is 4408
issues 318
it 747
java 1000
javascript 1769
job 292
jpa 127
jquery 1174
js 418
jsf 144
json 407
jsp 168
knowledge 6112
language 637
languages 272
laravel 152
large 195
latest 118
lead 105
leadership 194
learn 394
learner 157
learning 147
least 629
less 122
level 320
libraries 178
life 327
lifecycle 123
like 314
linux 563
location 105
looking 127
maintain 109
maintenance 104
major 105
make 113
manage 194
management 1348
managing 156
mandatory 138
meet 274
members 125
methodologies 249
methodology 168
microsoft 866
minimum 781
mobile 889
modeling 134
modules 140
more 257
motivated 344
ms 686
multi 257
multiple 289
must 1771
mvc 659
mysql 682
nan 706
native 103
necessary 104
needs 108
net 1814
network 308
networking 189
new 475
node 103
non 191
not 393
object 753
objective 243
of 12125
office 155
on 1837
one 457
only 139
oo 110
oop 314
open 270
operating 224
optimization 172
or 4734
oracle 825
oral 239
organization 135
organizational 287
organized 164
oriented 1033
other 544
our 191
paced 163
part 160
party 175
passion 146
passionate 110
patterns 506
performance 380
personal 208
photoshop 206
php 1117
pl 136
planning 136
platform 254
platforms 260
player 248
please 124
plus 2317
position 182
positive 145
practical 128
practices 342
preferable 197
preferably 257
preferred 691
presentation 285
pressure 364
previous 208
principles 250
problem 896
problems 299
procedures 156
process 342
processes 277
product 227
production 112
products 313
professional 374
proficiency 339
proficient 346
programming 1207
project 565
projects 487
proven 419
provide 170
published 113
python 259
qualification 106
qualifications 572
quality 407
queries 124
quickly 179
re 127
record 110
related 1070
relational 306
relevant 364
reporting 239
reports 241
required 925
requirements 673
research 167
responsive 192
rest 337
restful 206
results 112
ruby 180
sales 156
sc 192
science 1925
sciences 139
script 107
scripting 228
scrum 163
sdk 218
se 103
security 376
self 532
senior 112
server 1368
servers 218
service 342
services 961
servlets 110
sharepoint 468
should 287
side 152
similar 179
skill 121
skills 5950
soa 157
soap 222
social 108
software 2508
solid 725
solution 135
solutions 474
solve 134
solving 742
some 143
source 378
spoken 367
spring 269
sql 1919
stack 113
standard 112
standards 275
store 152
stress 139
strong 2823
structures 116
studio 254
subject 203
successful 134
such 739
suite 115
support 402
svn 188
system 601
systems 975
task 136
tasks 234
team 1513
teams 180
technical 1379
techniques 344
technologies 1348
technology 431
test 481
testing 792
tests 138
than 103
that 403
the 4419
their 133
them 105
thinking 126
third 149
this 247
through 117
tier 111
tight 134
time 625
to 7791
tools 1011
track 113
training 138
travel 119
trends 158
troubleshooting 255
tuning 113
two 120
ui 481
uml 186
under 522
understand 162
understanding 1858
unit 211
university 292
unix 127
up 229
usability 112
use 222
user 433
using 1333
ux 182
various 140
vb 207
verbal 468
version 214
very 742
visual 319
wcf 151
we 418
web 2879
websites 131
well 458
what 180
when 108
who 174
will 497
willing 167
willingness 104
windows 577
with 7234
within 187
wordpress 362
work 2384
worker 153
working 1832
would 109
write 251
writing 482
written 1114
xml 706
year 355
years 3315
you 1005
your 404
zend 107

In [73]:
list_count_job_req= list(dist1)
list_job_req = list(job_requir)
data_frame_req = pd.DataFrame(list_count_job_req)

In [74]:
"""data_frame_req['count_list_req'] = pd.Series(list_count_job_req, index=data_frame_req.index)"""

"data_frame_req['count_list_req'] = pd.Series(list_count_job_req, index=data_frame_req.index)"

In [75]:
data_frame_req['list_req'] = pd.Series(list_job_req, index=data_frame_req.index)

In [76]:
data_frame_req.head()

      0 list_req
0  2837  ability
1   644     able
2   279    about
3   113   across
4   109   active

In [77]:
# Sum up the counts of each vocabulary word
dist2 = np.sum(train_data_title_features, axis=0)

# For each, print the vocabulary word and the number of times it 
# appears in the training set
for tag, count in zip(job_title, dist2):
    print count, tag

2 000
2 13
13 15
4 2013
6 30
5 3d
3 500
2 6th
2 75
6 abap
16 account
6 accounting
25 adf
19 admin
4 administration
188 administrator
10 adminstrator
2 adsl
48 agent
3 agile
3 ai
2 alexanderia
158 alexandria
132 analyst
53 and
3 andriod
262 android
12 angular
17 angularjs
3 apex
18 app
149 application
48 applications
31 apps
2 arabia
54 architect
2 architecture
4 artificial
65 asp
13 assistant
13 associate
35 assurance
4 aswan
4 asyut
14 at
2 atg
2 atm
1 auditor
1 autocad
1 autodesk
10 automation
1 automotive
3 avaya
2 aws
29 ax
1 azure
2 b1
32 back
23 backend
5 background
7 banking
2 base
3 based
2 basis
14 bi
13 big
1 billing
1 biomedical
3 biztalk
1 bobj
1 boy
6 bpm
3 branches
1 bss
1 build
1 building
110 business
3 bw
5 by
4 cairo
1 cakephp
3 call
2 canada
2 capacity
1 care
1 case
1 cassandra
1 ccna
1 ce
3 center
10 chain
2 chandigarh
2 channel
1 chef
14 chief
5 cisco
2 city
15 clerk
1 client
10 cloud
2 cloudinn
6 cms
1 co
1 code
3 codeigniter
3 coder
1 coders
4 cognos
1 collaboration
4 com
1 communication
1 communications
2 company
13 computer
1 computerized
3 configuration
161 consultant
1 consultants
7 content
56 control
3 controller
19 coordinator
5 creative
43 crm
8 cross
4 css
12 customer
2 damietta
4 damlag
39 data
66 database
27 dba
2 delivery
3 delphi
194 designer
67 desk
12 desktop
3175 developer
20 developers
79 development
2 devloper
7 devops
4 digital
8 director
6 django
5 document
6 dot
25 drupal
31 dynamics
4 ebs
7 ecm
3 edi
2 educational
9 ee
2 egypt
2 electronic
5 embedded
3 emc
173 end
771 engineer
6 engineering
2 engineers
4 english
16 enterprise
4 entry
80 erp
2 esb
8 estabena
4 etl
3 evaluator
2 exchange
20 executive
9 experience
3 experienced
6 expert
2 fico
4 field
2 filenet
2 finance
8 financial
2 financials
2 firmware
2 first
2 flash
5 flex
6 for
6 framework
9 freelance
3 french
11 fresh
19 from
143 front
7 frontend
39 full
4 fullstack
2 function
18 functional
5 fusion
7 game
2 general
2 german
18 gis
2 git
3 google
6 gp
7 graduate
16 graphic
3 graphics
4 great
2 gsm
5 hardware
3 hcm
16 head
62 help
8 helpdesk
19 home
2 hosting
2 hotel
2 house
31 hr
4 hrms
10 html5
3 hyderabad
4 ibm
3 ict
2 image
16 imaging
9 implementation
31 implementer
11 improvement
7 india
3 indoor
2 industry
8 information
19 infrastructure
24 instructor
5 integration
2 integrator
29 intelligence
2 interaction
5 interface
4 intermediate
14 intern
3 internal
23 internship
280 ios
451 it
20 j2ee
404 java
2 javacript
28 javascript
6 joomla
3 jr
22 js
2 jsf
258 junior
3 juniper
2 kngine
6 ksa
7 l2
5 lamp
12 laravel
109 lead
100 leader
4 learning
11 level
2 liferay
46 linux
4 lisp
2 localization
2 looking
1 lotus
8 magento
5 maintenance
23 management
187 manager
21 mansoura
5 marketing
4 master
7 media
17 medical
24 microsoft
9 mid
5 middleware
2 mining
2 mm
4 mno
213 mobile
3 mobilephone
6 month
3 months
6 moodle
8 ms
2 multimedia
27 mvc
2 mysql
2 native
2 needed
505 net
69 network
4 networking
3 networks
2 ninja
4 nlp
9 node
5 nodejs
3 october
2 odi
20 odoo
9 of
2 ofbiz
3 office
22 officer
35 on
8 open
8 openerp
4 operation
2 operational
15 operations
5 or
164 oracle
4 outdoor
4 owner
2 package
2 page
11 part
3 partner
2 perl
5 phone
6 phonegap
518 php
5 phpfox
2 pi
4 plains
10 platform
2 platforms
3 plone
2 pm
2 point
2 pos
5 powerbuilder
2 practice
11 pre
28 presales
2 principal
2 printer
18 process
2 processing
24 product
4 production
5 professional
2 program
2 programer
27 programmer
3 programming
76 project
5 projects
2 publisher
46 python
7 qa
23 qc
2 qt
128 quality
34 rails
3 remedy
6 remote
8 report
14 representative
3 required
2 researcher
11 retail
41 ruby
3 saas
2 sale
99 sales
40 sap
2 saudi
5 science
3 scm
2 script
3 scrum
2 search
5 section
27 security
1383 senior
2 senoir
3 seo
10 server
23 service
3 servicenow
8 services
111 sharepoint
1 siebel
1 silverlight
1 simulink
8 soa
7 social
1003 software
4 softwaretester
1 solaris
20 solution
13 solutions
2 sotware
6 source
1 speaker
1 speakers
1 speaking
1 specialis
281 specialist
1 specilaist
1 speech
2 spi
3 spring
1 spss
1 sqa
24 sql
21 sr
38 stack
1 startup
2 storage
1 strategist
2 strategy
1 strong
1 structure
1 successfactors
4 suite
1 summer
1 supermarket
1 superstar
14 supervisor
9 supply
268 support
1 surveillance
12 sw
2 swift
2 switch
1 symantec
1 symfony
6 symfony2
1 symphony
1 syscenter
1 sysops
169 system
33 systems
3 tanta
1 teacher
129 team
2 teamleader
3 tech
2 techincal
286 technical
8 technician
7 techno
10 technology
2 tele
5 telecom
2 telecommunication
3 telecommunications
3 telesales
2 temporary
18 test
84 tester
22 testing
2 themer
2 tibco
13 time
10 titanium
2 to
2 togaf
8 trainee
2 trainer
2 training
3 translator
179 ui
2 unity
5 unity3d
11 unix
12 user
2 using
82 ux
2 vaadin
4 vas
9 vb
2 vb6
3 vision
4 visual
8 voice
3 voip
644 web
3 webmaster
7 website
13 windows
3 with
51 wordpress
20 work
3 wpf
8 writer
2 xamarin
3 yii
2 مطلوب

In [78]:
list_count_job_title= list(dist2)
list_job_title= list(job_title)
data_frame_title = pd.DataFrame(list_count_job_title)

In [79]:
data_frame_title['list_title'] = pd.Series(list_job_title, index=data_frame_title.index)

In [80]:
data_frame_title.head(20)

      0      list_title
0     2             000
1     2              13
2    13              15
3     4            2013
4     6              30
5     5              3d
6     3             500
7     2             6th
8     2              75
9     6            abap
10   16         account
11    6      accounting
12   25             adf
13   19           admin
14    4  administration
15  188   administrator
16   10    adminstrator
17    2            adsl
18   48           agent
19    3           agile

In [81]:
data_frame_title.columns=['counts','list_title']

In [82]:
data_frame_title.head(10)

   counts list_title
0       2        000
1       2         13
2      13         15
3       4       2013
4       6         30
5       5         3d
6       3        500
7       2        6th
8       2         75
9       6       abap

In [83]:
data_frame_req.columns=['counts','list_req']

In [84]:
data_frame_req.head()

   counts list_req
0    2837  ability
1     644     able
2     279    about
3     113   across
4     109   active

In [85]:
data_frame_dsec.columns=['counts','list_desc']

In [86]:
data_frame_dsec.head()

   counts  list_desc
0     875    ability
1     359       able
2     496      about
3     217     access
4     358  according

In [87]:
"""
Lemmatisation (or lemmatization) in linguistics, is the process of grouping together
the different inflected forms of a word so they can be analysed as a single item.

"""

'\nLemmatisation (or lemmatization) in linguistics, is the process of grouping together\nthe different inflected forms of a word so they can be analysed as a single item.\n\n'

In [88]:
from nltk.stem import WordNetLemmatizer

In [89]:
lemmatizer = WordNetLemmatizer()

In [90]:
job_titel_lim=[lemmatizer.lemmatize(w) for w in data_frame_title['list_title']]

In [91]:
job_desc_lim=[lemmatizer.lemmatize(w) for w in data_frame_dsec['list_desc']]

In [92]:
job_req_lim=[lemmatizer.lemmatize(w) for w in data_frame_req['list_req']]

In [93]:
data_frame_dsec['new_list']=job_desc_lim

In [94]:
data_frame_dsec.drop(['list_desc'],axis=1,inplace=True)

In [95]:
data_frame_dsec.head()

   counts   new_list
0     875    ability
1     359       able
2     496      about
3     217     access
4     358  according

In [96]:
data_frame_title['new_list']=job_titel_lim

In [97]:
data_frame_title.drop(['list_title'],axis=1,inplace=True)

In [98]:
data_frame_title.head(20)

    counts        new_list
0        2             000
1        2              13
2       13              15
3        4            2013
4        6              30
5        5              3d
6        3             500
7        2             6th
8        2              75
9        6            abap
10      16         account
11       6      accounting
12      25             adf
13      19           admin
14       4  administration
15     188   administrator
16      10    adminstrator
17       2            adsl
18      48           agent
19       3           agile

In [99]:
data_frame_req['new_list']=job_req_lim

In [100]:
data_frame_req.drop(['list_req'],axis=1,inplace=True)

In [101]:
data_frame_req.head()

   counts new_list
0    2837  ability
1     644     able
2     279    about
3     113   across
4     109   active

In [102]:
#Drop duplicates 
data_frame_dsec.drop_duplicates(['new_list'],take_last=True)

C:\anaconda\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead
  from ipykernel import kernelapp as app

     counts        new_list
0       875         ability
1       359            able
2       496           about
3       217          access
4       358       according
5       344          across
6       553        activity
7       309  administration
8       271        advanced
9       271           agile
10      226            ajax
11     1798             all
12      480            also
13     1596              an
14     1202        analysis
15      451         analyze
16      243       analyzing
17    39214             and
18      619         android
19      489             any
20      198            apis
21      233             app
23     3442     application
24      274           apply
25      395     appropriate
26      491            apps
27      474    architecture
28     2547             are
29      198            area
30     3438               a
..      ...             ...
469    1580           using
470     217              ux
471     298         various
472     218            very
473     200          visual
474    2169              we
475    2900             web
477     318         website
478     788            well
479     329            what
480     244            when
481     227           where
482     302           which
483     255           while
484     716             who
485    3054            will
486     340          window
487    8449            with
488     549          within
489     236       wordpress
490    3306            work
491    1521         working
492     314           world
493     537           write
494     413         writing
495     240         written
496     209             xml
497     856            year
498    3373             you
499    1073            your

[456 rows x 2 columns]

In [103]:
data_frame_title.drop_duplicates(['new_list'],take_last=True)

C:\anaconda\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead
  if __name__ == '__main__':

     counts        new_list
0         2             000
1         2              13
2        13              15
3         4            2013
4         6              30
5         5              3d
6         3             500
7         2             6th
8         2              75
9         6            abap
10       16         account
11        6      accounting
12       25             adf
13       19           admin
14        4  administration
15      188   administrator
16       10    adminstrator
17        2            adsl
18       48           agent
19        3           agile
20        3              ai
21        2     alexanderia
22      158      alexandria
23      132         analyst
24       53             and
25        3         andriod
26      262         android
27       12         angular
28       17       angularjs
29        3            apex
..      ...             ...
470       2         trainer
471       2        training
472       3      translator
473     179              ui
474       2           unity
475       5         unity3d
476      11            unix
477      12            user
478       2           using
479      82              ux
480       2          vaadin
481       4              va
482       9              vb
483       2             vb6
484       3          vision
485       4          visual
486       8           voice
487       3            voip
488     644             web
489       3       webmaster
490       7         website
491      13          window
492       3            with
493      51       wordpress
494      20            work
495       3             wpf
496       8          writer
497       2         xamarin
498       3             yii
499       2           مطلوب

[482 rows x 2 columns]

In [104]:
data_frame_req.drop_duplicates(['new_list'],take_last=True)

C:\anaconda\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead
  if __name__ == '__main__':

     counts        new_list
0      2837         ability
1       644            able
2       279           about
3       113          across
4       109          active
5       403  administration
6       126           adobe
7       267        advanced
8       156       advantage
9       495           agile
10      561            ajax
11      349             all
12      139            also
13     1009              an
14      493        analysis
15      568      analytical
16    20030             and
17      765         android
18      148         angular
19      219       angularjs
20      455             any
21      143          apache
22      281             api
23      449            apis
24      244             app
26     1200     application
27      152           apply
28      126        approach
29      340            apps
30      189          arabic
..      ...             ...
469     214         version
470     742            very
471     319          visual
472     151             wcf
473     418              we
474    2879             web
475     131         website
476     458            well
477     180            what
478     108            when
479     174             who
480     497            will
481     167         willing
482     104     willingness
483     577          window
484    7234            with
485     187          within
486     362       wordpress
487    2384            work
488     153          worker
489    1832         working
490     109           would
491     251           write
492     482         writing
493    1114         written
494     706             xml
496    3315            year
497    1005             you
498     404            your
499     107            zend

[469 rows x 2 columns]

In [105]:
#now export this dataframe to tableau for visualisation it

In [106]:
data_frame_dsec.to_csv('E:/ffinaal/job_desc.csv', sep='\t',encoding='utf8')
data_frame_req.to_csv('E:/ffinaal/job_req.csv', sep='\t',encoding='utf8')
data_frame_title.to_csv('E:/ffinaal/job_title.csv', sep='\t',encoding='utf8')